---
layout: compress


---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'> -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <!-- <link rel="stylesheet" type="text/css" href="/timeline_style.css"> -->

</head>

<body style="background-color: #f1ebe5;">
    {% include navbar.html %}

    <!-- partial:index.partial.html -->
    <section  class="hero is-fullheight" id="timeline">
        <div  class=" hero-body">
            <div class="container py-5">
                {% include blogpage-heading.html %}

                <h1 style="color: black; font-size: 160%;" class="is-uppercase has-text-weight-semibold is-marginless">
                    Legal Notice</h1><br>
                <p style="font-size: 120%; color: black;">
                    Universität Paderborn <br/>
                    Warburger Straße 100 <br/>
                    33100 Paderborn<br/>
                    <br/>
                    Represented by:<br/>
                    <br/>    
                    Enes Yigitbas<br/>
                    +49 52251 60-6826<br/>
                    enes.yigitbas@upb.de<br/>
                    <br/>
                    Responsible for Content:<br/>
                    <br/>
                    Ella Vahle
                </p><br>


                <h1 style="color: black; font-size: 160%;" class="is-uppercase has-text-weight-semibold is-marginless">
                    Liability for Content </h1><br>

                <p style="font-size: 120%; color: black;">The contents of our website have been created with the
                    greatest possible care. However, we cannot
                    guarantee the contents' accuracy, completeness, or topicality. According to Section 7, paragraph 1
                    of the TMG (Telemediengesetz - German Telemedia Act), we as service providers are liable for our
                    content on these pages by general laws. However, according to Sections 8 to 10 of the TMG, we
                    service providers are not obliged to monitor external information transmitted or stored or
                    investigate circumstances pointing to illegal activity. Obligations to remove or block the use of
                    information under general laws remain unaffected. However, a liability in this regard is only
                    possible from the moment of knowledge of a specific infringement. Upon notification of such
                    violations, we will remove the content immediately.
                </p><br>

                <h1 style="color: black; font-size: 160%;" class="is-uppercase has-text-weight-semibold is-marginless">
                    Liability for Links </h1><br>

                <p style="font-size: 120%; color: black;"> Our website contains links to external websites, over whose
                    contents we have no control. Therefore, we
                    cannot accept any liability for these external contents. The respective provider or operator of the
                    websites is always responsible for the contents of the linked pages. The linked pages were checked
                    for
                    possible legal violations at the time of linking. Illegal contents were not identified at the time
                    of
                    linking. However, permanent monitoring of the contents of the linked pages is not reasonable without
                    specific indications of a violation. Upon notification of violations, we will remove such links
                    immediately.
                </p><br>

                <h1 style="color: black; font-size: 160%;" class="is-uppercase has-text-weight-semibold is-marginless">
                    Copyright </h1><br>

                <p style="font-size: 120%; color: black;"> The contents and works on these pages created by the site
                    operator are subject to German copyright law.
                    The duplication, processing, distribution, and any kind of utilization outside the limits of
                    copyright
                    require the written consent of the respective author or creator. Downloads and copies of these pages
                    are
                    only permitted for private, non-commercial use. In so far as the contents on this site were not
                    created
                    by the operator, the copyrights of third parties are respected. In particular, third-party content
                    is
                    marked as such. Should you become aware of a copyright infringement, please inform us accordingly.
                    Upon
                    notification of violations, we will remove such contents immediately.


                    Last Updated: 9th October, 2023
                </p><br>



            </div>
        </div>
    </section>
    <!-- partial -->
    {% include footer.html %}
</body>

</html>