<section style="background-color: #f1ebe5;" class="hero is-fullheight has-text-centered " id="about">
    <div class="hero-body">
        <div class="">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="">
                        <img class=""  src="Logo Quadratisch.png" alt="DSS-VR">
                    </figure>
                </div>
                
                <div
                    class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h3 style="font-size: 160%; color: #1d2129;"
                        class="is-uppercase has-text-weight-semibold is-marginless"> Overview
                    </h3><br>
                    <p style="font-size: 120%; color: #1d2129;" class="">The project group DSS-VR (Digitization of
                        Sacred Spaces through Virtual
                        Reality) aims to create
                        an immersive Virtual Reality (VR) application that allows users to explore sacred spaces. <br> <br>
                        With VR, technology has provided the opportunity to not only look at an environment through the
                        screen but to, to a certain degree, actually immerse in and engage with the environment. This
                        can range from entirely fictive spaces to realistic depictions of existing, physical spaces. <br>
                        Many advantages arise from this possibility. With an immense amount of options, creators can
                        create entire worlds and follow their creativity. Spaces also become more accessible. Many
                        people are physically, mentally or financially not able to visit certain spaces that are not
                        accessible or simply too far away. Even physical constraints from the “real world” do not
                        necessarily limit the user in VR.
                        As can be seen, the list of possibilities is exhaustive and by far not complete. <br> <br>
                        This project group is concerned with religious/sacred spaces with a focus on the three Abrahamic
                        religions: Christianity, Islam and Judaism. It is important to note that, at this point, we are
                        only covering Christianity and Islam. <br>
                        With these religion’s vast history and number of followers worldwide, there are various points
                        of interest, i.e., sacred spaces, and a lot of knowledge to consume. A digital, immersive
                        version increases accessibility to these spaces in a way where the user does not only feel like
                        watching something but actually participating. It also allows for a possibly less formal and
                        intimidating environment as well as experiences that exceed reality. <br>
                        While a religion’s follower has an inherent interest in these spaces, people of different
                        beliefs might also have an interest in learning about other religions. They might hear or read
                        something they want to learn more about or even encounter some parts of a religious in their
                        everyday life, e.g., while talking to a co-worker. <br> <br>
                        With the created application, the project group hopes to contribute to research around these
                        topics and answer the question: What are the potential benefits of digitizing sacred spaces
                        through VR and the impact on inter- and intra-faith relationships? For a more detailed
                        description of the project group’s objectives, see our<a href="{{site.url}}{{site.baseurl}}/timeline"
                            style="color: darkblue;">Motivation.</a>
                    </p><br>

                    <br>

                    
                    <div class="container columns is-centered">
                        <div>
                            <a href=" {{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-semibold is-black is-outlined">Research
                                Questions</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-semibold is-black is-outlined">Meet
                                The Team</a>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>

            <br><br>
            <div class="slideshow-container">
                <div>
                    <h3 style="font-size: 160%; color: #1d2129;"
                        class="is-uppercase has-text-weight-semibold is-marginless"> Snapshots of the Application
                </div>
                <br>
                    


                <div class="mySlides fade">
                  <div class="numbertext">1 / 27</div>
                  <img src="img1.jpg" style="width: 40%">
                  <div class="text">Starting Room - Islam</div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">2 / 27</div>
                  <img src="img3.jpg" style="width: 40%">
                  <div class="text">Starting Room - Islam</div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">3 / 27</div>
                  <img src="img4.jpg" style="width: 40%">
                  <div class="text">Starting Room - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">4 / 27</div>
                    <img src="img12.jpg" style="width: 40%">
                    <div class="text">Starting Room with Guide Bot - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">5 / 27</div>
                    <img src="img13.jpg" style="width: 40%">
                    <div class="text">Prayer Demonstration - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">6 / 27</div>
                    <img src="img14.jpg" style="width: 40%">
                    <div class="text">Prayer Demonstration - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">7 / 27</div>
                    <img src="img15.jpg" style="width: 40%">
                    <div class="text">Prayer Demonstration - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">8 / 27</div>
                    <img src="img16.jpg" style="width: 40%">
                    <div class="text">Prayer Demonstration - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">9 / 27</div>
                    <img src="img17.jpg" style="width: 40%">
                    <div class="text">Prayer Demonstration - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">10 / 27</div>
                    <img src="img18.jpg" style="width: 40%">
                    <div class="text">Quran</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">11 / 27</div>
                    <img src="img19.jpg" style="width: 40%">
                    <div class="text">Quran</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">12 / 27</div>
                    <img src="img31.jpg" style="width: 40%">
                    <div class="text">Quran</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">13 / 27</div>
                    <img src="img20.jpg" style="width: 40%">
                    <div class="text">Exploring the Starting Room - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">14 / 27</div>
                    <img src="img10.jpg" style="width: 40%">
                    <div class="text">Exploration Options in Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">15 / 27</div>
                    <img src="img21.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">16 / 27</div>
                    <img src="img23.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">17 / 27</div>
                    <img src="img22.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">18 / 27</div>
                    <img src="img6.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">19 / 27</div>
                    <img src="img7.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">20 / 27</div>
                    <img src="img8.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>
                
                <div class="mySlides fade">
                    <div class="numbertext">21 / 27</div>
                    <img src="img9.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">22 / 27</div>
                    <img src="img24.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">23 / 27</div>
                    <img src="img25.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">24 / 27</div>
                    <img src="img26.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">25 / 27</div>
                    <img src="img27.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">26 / 27</div>
                    <img src="img28.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">27 / 27</div>
                    <img src="img29.jpg" style="width: 40%">
                    <div class="text">Sacred Spaces - Islam</div>
                </div>


                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
                
                </div>
                <br>
                
                <div style="text-align:center">
                  <span class="dot" onclick="currentSlide(1)"></span> 
                  <span class="dot" onclick="currentSlide(2)"></span> 
                  <span class="dot" onclick="currentSlide(3)"></span> 
                </div>
                <script src="script.js"></script>
            </div>
        </div>
        
</section>