<section style="background-color: #f1ebe5;min-height: 40ev; background-color: #f1ebe5;" class="hero  has-text-centered" id="contact">
    <div class="hero-body">

        
        <div class="container">

            <div>
                <h3 style="font-size: 160%; color: #1d2129;"
                    class="is-uppercase has-text-weight-semibold is-marginless"> Meet the Team
            </div>
            <br>
        

            <a id="contact-button" href="mailto:enes.yigitbas@upb.de" style="color: #1d2129;"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-three-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Enes Yigitbas - Supervisor
            </a>
            
            
            <a id="contact-button" href="mailto:ella.vahle@googlemail.com" style="color: #1d2129;"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-three-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Ella - Team Lead, Product Owner and Developer
            </a>
            
            
            <a id="contact-button" href="mailto:juliankarch9@gmail.com" style="color: #1d2129;"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-three-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Julian - Second Team Lead, Deployment Manager and Developer
            </a>
            
            
            <a  id="contact-button" href="mailto:sanketcfc@gmail.com" style="color: #1d2129;"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-three-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Sanket - Hardware Manager, Test Manager and Developer
            </a>
            
            <a id="contact-button" href="mailto:singhparinay14@gmail.com" style="color: #1d2129;"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-three-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Parinay - Documentation Manager and Developer
            </a>
            
            <hr>
            
        </div>
    </div>
</section>

