---
layout: compress


---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'> -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="/assets/css/timeline_style.css">
    
</head>

<body>
    {% include navbar.html %}

    <!-- partial:index.partial.html -->
    <section class="hero is-fullheight" id="timeline">
        <div class=" hero-body">
            <div class="container py-5">
                {% include blogpage-heading.html %}

                <div class="row">
                    <h1 style="color: black; font-size: 40px; padding-top: 30px;"
                        class=" has-text-centered has-text-weight-semibold">Timeline</h1><br><br>
                    <div class="col-md-12">
                        <div class="main-timeline">
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox">
                                            <img src="/assets/icons/Kickoff.png" class="img">
                                        </span></div>
                                    <div class="content">
                                        <span class="year">October 2022</span>
                                        <h3 class="title h4">Project Kickoff</h3>
                                        <p class="description ">
                                            Start of the Project Group including project introduction, member
                                            introduction and initial assignment hand out.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Tutorial.png"
                                                class="img" /></span></div>
                                    <div class="content">
                                        <span class="year">October 2022 - November 2022</span>
                                        <h3 class="title h4">Tutorial Phase</h3>
                                        <p class="description ">
                                            Dedicated familiarization with project-relevant topics by all team members
                                            such as 3D modelling, 3D development and abrahamic religions.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Setup.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">November 2022 - January 2023</span>
                                        <h3 class="title h4">Project Setup</h3>
                                        <p class="description ">
                                            Initial organization of team structure, development environment and
                                            development process.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Objectives.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">January 2023</span>
                                        <h3 class="title h4">Objectives Definition</h3>
                                        <p class="description ">
                                            Definition of goals and research focus of the project group.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Implementation Start.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">January 2023</span>
                                        <h3 class="title 4">Implementation Start</h3>
                                        <p class="description ">
                                            Distribution of subtasks and start of work on
                                            modelling and implementation.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Reorganization.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">February 2023</span>
                                        <h3 class="title h4">Project Reorganization</h3>
                                        <p class="description ">
                                            Restructuring of project infrastructure and process to improve teamwork and
                                            efficiency.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Development.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">January 2023 - August 2023</span>
                                        <h3 class="title h4">Development Phase</h3>
                                        <p class="description ">
                                            Continuous improvement and extension of the application.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/User Studies.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">September 2023</span>
                                        <h3 class="title h4">User Studies</h3>
                                        <p class="description ">
                                            Conducting user studies and evaluation of collected data.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Presentation.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">September 2023 - October 2023</span>
                                        <h3 class="title h4">Wrap Up 123</h3>
                                        <p class="description ">
                                            Summarization of Project Discoveries and Final Presentation
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- partial -->
    {% include footer.html %}
</body>

</html>