---
layout: compress


---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'> -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="/assets/css/timeline_style.css">
    
</head>

<body>
    {% include navbar.html %}

    <!-- partial:index.partial.html -->
    <section class="hero is-fullheight" id="timeline">
        <div class=" hero-body">
            <div class="container py-5">
                {% include blogpage-heading.html %}

                <div class="row">
                    <h1 style="color: black; font-size: 40px; padding-top: 30px;"
                        class=" has-text-centered has-text-weight-semibold">Timeline</h1><br><br>
                    <div class="col-md-12">
                        <div class="main-timeline">
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox">
                                            <img src="/assets/icons/Kickoff.png" class="img">
                                        </span></div>
                                    <div class="content">
                                        <span class="year">October 2022</span>
                                        <h3 class="title h4">Project Kickoff</h3>
                                        <p class="description ">
                                            Start of the Project Group including project introduction, member
                                            introduction and initial assignment hand out.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Tutorial.png"
                                                class="img" /></span></div>
                                    <div class="content">
                                        <span class="year">October 2022 - November 2022</span>
                                        <h3 class="title h4">Tutorial Phase</h3>
                                        <p class="description ">
                                            Dedicated familiarization with project-relevant topics by all team members
                                            such as 3D modelling, 3D development and abrahamic religions.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Setup.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">November 2022 - January 2023</span>
                                        <h3 class="title h4">Project Setup</h3>
                                        <p class="description ">
                                            Initial organization of team structure, development environment and
                                            development process.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Objectives.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">January 2023</span>
                                        <h3 class="title h4">Objectives Definition</h3>
                                        <p class="description ">
                                            Definition of goals and research focus of the project group.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Implementation Start.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">January 2023</span>
                                        <h3 class="title 4">Implementation Start</h3>
                                        <p class="description ">
                                            Distribution of subtasks and start of work on
                                            modelling and implementation.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Reorganization.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">February 2023</span>
                                        <h3 class="title h4">Project Reorganization</h3>
                                        <p class="description ">
                                            Restructuring of project infrastructure and process to improve teamwork and
                                            efficiency.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Development.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">January 2023 - July 2023</span>
                                        <h3 class="title h4">Development Phase</h3>
                                        <p class="description ">
                                            Continuous improvement and extension of the application.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/User Studies.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">July 2023 - August 2023</span>
                                        <h3 class="title h4">User Studies</h3>
                                        <p class="description ">
                                            Conducting user studies and evaluation of data.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="/assets/icons/Presentation.png"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">TBD</span>
                                        <h3 class="title h4">Wrap Up</h3>
                                        <p class="description ">
                                            Summarization of Project Discoveries and Final Presentation
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="https://picsum.photos/164"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">No.7</span>
                                        <h3 class="title h4">Heading</h3>
                                        <p class="description">
                                            Egestas fringilla phasellus faucibus scelerisque eleifend donec. Vitae justo
                                            eget magna fermentum iaculis. Euismod lacinia at quis risus sed vulputate.
                                            Congue nisi vitae suscipit tellus mauris a diam.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="https://picsum.photos/164"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">No.8</span>
                                        <h3 class="title h4">Heading</h3>
                                        <p class="description">
                                            Eget nunc scelerisque viverra mauris in aliquam. Nibh tortor id aliquet
                                            lectus.
                                        </p>
                                        <p class="description">
                                            Semper quis lectus nulla at volutpat diam. Scelerisque purus semper eget
                                            duis at tellus at urna condimentum. Nisl suscipit adipiscing bibendum est.
                                        </p>
                                        <p class="description">
                                            Nisi vitae suscipit tellus mauris. Dignissim diam quis enim lobortis
                                            scelerisque fermentum dui faucibus. Placerat orci nulla pellentesque
                                            dignissim enim sit amet venenatis urna.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="https://picsum.photos/164"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">No.9</span>
                                        <h3 class="title h4">Heading</h3>
                                        <p class="description">
                                            Sit amet consectetur adipiscing elit ut. Dolor morbi non arcu risus quis
                                            varius quam quisque. Quis ipsum suspendisse ultrices gravida dictum fusce ut
                                            placerat orci. </p>
                                        <p class="description">
                                            Elementum sagittis vitae et leo. Risus pretium quam vulputate dignissim
                                            suspendisse in est ante in.
                                        </p>
                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="circle"><span class="homebox"><img src="https://picsum.photos/164"
                                                class="img"></span></div>
                                    <div class="content">
                                        <span class="year">No.10</span>
                                        <h3 class="title h4">Heading</h3>

                                        <p class="description">
                                            Tellus in hac habitasse platea. Commodo nulla facilisi nullam vehicula ipsum
                                            a. Quis commodo odio aenean sed adipiscing. Ipsum consequat nisl vel pretium
                                            lectus. Dolor morbi non arcu risus quis varius. Mi bibendum neque egestas
                                            congue quisque egestas diam in.</p>
                                        <p class="description">
                                            Id eu nisl nunc mi ipsum faucibus vitae aliquet. Placerat orci nulla
                                            pellentesque dignissim enim.</p>

                                        <div class="icon"><span></span></div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- partial -->
    {% include footer.html %}
</body>

</html>